/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end of css reset */

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  background-image: url(/secret-santa-bkg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
  width: 500px;
  max-width: 100%;

  padding: 1em;
}

header {
  text-align: center;
}

header h1 {
  font-size: 6rem;
  font-family: "Mountains of Christmas", serif;
  color: white;
}

header h4 {
  font-size: 1.5rem;
  font-family: "Mountains of Christmas", serif;
  color: white;
}

.dashboard {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
}

.input-box-el {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
}

.input-budget-el {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1em;
  gap: 2em;
}

input[type="number"] {
  width: 50%;
}

button {
  cursor: pointer;
}

.add-btn {
  background-color: #3d5ba4;
  padding: 0.5em 1em;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: "Mountains of Christmas", serif;
  border: white thin solid;
  font-size: 1.2rem;
}

.add-budget {
  width: 100%;
  background-color: #3d5ba4;
  padding: 0.5em 1em;
  border-radius: 10px;
  border: none;
  color: white;
  font-family: "Mountains of Christmas", serif;
  border: white thin solid;
  font-size: 1.2rem;
}

.add-btn {
  margin-top: 1em;
}

.btn-create-secret-santa {
  margin-top: 2em;
  background-color: #da2611;
  padding: 1em;
  border-radius: 10px;
  font-size: 1.4rem;
  font-family: "Mountains of Christmas", serif;
  color: white;
}

.output-box-el {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

.output-headlines {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 1.4rem;
  font-family: "Mountains of Christmas", serif;
}

.left {
  font-size: 1.3rem;
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2em;
  background-color: #fbfef7;
  border-radius: 6px;
  padding: 0.3em 0em;
}

.right-el {
  margin-top: 0.1em;
}

.right {
  font-size: 1.3rem;
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2em;
  background-color: #fbfef7;
  border-radius: 6px;
  padding: 0.3em 0em;
}

.dynamic-flex {
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.dynamic-element {
  font-size: 1.2rem;
  border-radius: 6px;
  padding: 0.3em 1em;
  background-color: #f2c847;
  font-family: "Mountains of Christmas", serif;
}

input {
  padding: 0.5em 1em;
  border-radius: 10px;
  border: none;
}

.budget-counter,
.participant-counter {
  background-color: #f2c847;
  padding: 0.3em 1em;
  font-size: 1.2rem;
  border-radius: 6px;
  font-family: "Mountains of Christmas", serif;
}
